@font-face{
	font-family: 'Bunny Honey';
	src: url('../Fuentes/Bunny Honey/Bunny Honey.ttf');
}

@font-face{
	font-family: 'Winter Yesterday';
	src: url('../Fuentes/Winter Yesterday/WinterYesterday.ttf');
}

@font-face{
	font-family: 'Bakery';
	src: url('../Fuentes/Bakery/Bakery.ttf');
}

@font-face{
	font-family: 'Limited Edition';
	src: url('../Fuentes/Limited Edition/Limited Edition.ttf');
}

@font-face{
	font-family: 'With Rose';
	src: url('../Fuentes/With Rose/With Rose.ttf');
}

@font-face{
	font-family: 'Aerolite';
	src: url('../Fuentes/Aerolite/AeroliteCPone.ttf');
}


@font-face{
	font-family: 'Charlotte';
	src: url('../Fuentes/Charlotte/Charlotte.ttf');
}

@font-face{
	font-family: 'Dancing Script';
	src: url('../Fuentes/Dancing Script/DancingScript-Regular.ttf');
}

@font-face{
	font-family: 'Lieselotte';
	src: url('../Fuentes/Lieselotte/Lieselotte.ttf');
}

@font-face{
	font-family: '28 Days Later';
	src: url('../Fuentes/28 Days Later/28 Days Later.ttf');
}

@font-face{
	font-family: 'Always in My Heart';
	src: url('../Fuentes/Always in My Heart/Always In My Heart.ttf');
}

@font-face{
	font-family: 'They Perished';
	src: url('../Fuentes/They Perished/TheyPerished.ttf');
}

@font-face{
	font-family: 'You Murderer';
	src: url('../Fuentes/You Murderer/youmurderer.ttf');
}

@font-face {
	font-family: 'Code Life';
	src: url('../Fuentes/Code of Life/codelife.ttf');
}

@font-face {
	font-family: 'Encode Sans Condensed';
	src: url('../Fuentes/Encode Sans Condensed/EncodeSansCondensed-Regular.ttf');
}

@font-face {
	font-family: 'Libre Barcode';
	src: url('../Fuentes/Libre Barcode/LibreBarcode128Text-Regular.ttf');
}

@font-face {
	font-family: 'Nightmare Codehack';
	src: url('../Fuentes/Nightmare Codehack/Nightmare\ Codehack.ttf');
}

@font-face {
	font-family: 'Press Start 2P';
	src: url('../Fuentes/Press Start 2P/PressStart2P-Regular.ttf');
}